/* =============
    Base
============= */

body{
    font-size: rem-calc(18);
    font-family: 'Open Sans', sans-serif;;
}

h1{
    text-align: center;
}

#plandesc{
    display: flex;
    justify-content: space-evenly;
}

.product{
    border: solid;
  }
  
  #plans{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .nopadding{
    margin: 0px;
    padding: 0px;
  }
  
  .purplebackground{
    background-color: var(--darkviolet);
    color: var(--white);
  }
  
  #startupdiv{
    padding: 50px 30px;
  }
  
  #classicdiv{
    padding: 50px 30px;
    margin: 10px;
  }
  
  #premiumdiv{
    padding: 50px 30px;
  }
  
  .nostyle{
    list-style-type: none;
  }
  
  button{
    color: var(--aliceblue);
    background-color: var(--dodgerblue);
  }