/* =============
    Base
============= */

:root {
    --black: #000000;
    --white: #ffffff;
    --darkviolet: #461096;
    --aliceblue: #F0F8FF;
    --dodgerblue: #42B4EE;
    --midnightblue: #000000;
  }
  
body{
    background-color: var(--black);
    color: var(--aliceblue);
    font-family: 'Open Sans', sans-serif;
    font-size: rem-calc(18);
  }
  

#iconlist{
  padding: 0px;
}

.icons{
  display: inline;
  padding: 1px;
}
  
.section{
    font-size: rem-calc(22);
  }

#center{
  display: grid;
  grid-area: content;
  grid-template-columns: 25% 25% 25% 25%;
}
  
.titleblue{
    color: var(--dodgerblue);
  }
  
.bluetext{
    background-color: var(--dodgerblue);
    color: var(--aliceblue);
  }
  
.nobullet{
    list-style-type: none;
  }


form{
  margin: 5px;
}

footer{
  display: grid;
  grid-template-columns: auto 70vw auto;
  grid-template-areas: ". content ."
}

ul {
    list-style-type: none;
  }
  
li{
    padding: 5px;
    font-size: rem-calc(18);
  }
  
.links:link, .links:visited{
  transition: .25s;
  color: var(--aliceblue);
  font-family: 'Open Sans', sans-serif;
  font-size: rem-calc(18);
  text-decoration: none;
}

.links:hover, .links:active{
  color: var(--dodgerblue);
  text-decoration: none;
}
  

.titleblue{
    font-weight: 700;
    font-size: rem-calc(30);
}

.nobullet{
    font-weight: 300;
}
